SECRET_KEY="nre@=8=s_jisxqo8o_i(2o)xygr%ia=4_k^es%g#ts2kh@4bh_"

DEBUG=True

DATABASE_NAME=sso
DATABASE_USER=root
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_PORT=5432

EMAIL_ADDRESS=""
EMAIL_PORT=""
EMAIL_HOST=""
EMAIL_PASSWORD=""

PRODUCTION_DOMAIN="localhost"
PRODUCTION_SUBDOMAIN=""

# WARNING : YOU MUST GENERATE A NEW RSA KEY PAIR ON ANY DEPLOY ENVIRONMENT !
# These keys are hardcoded to ease the auth flow when coding in local. The public key match the one hardcoded on the portail side.
# Should begin with `-----BEGIN PUBLIC KEY-----` and end with `-----END PUBLIC KEY-----`.
# Please pay attention to the new lines. They should be encoded as `\\n` in this file.
PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----\\nMIICXAIBAAKBgH95VEmp8hYOBipLyLNzvpG81M1UPQP0q+AZnZKNBJBzRwD4/tZp\\nS7MnJJIwwpig/0nsvOh8pO1cNrz/DgRfBP3/PWyYMCuh+CW+qtHzXwIBWQH7c+aG\\nkLP3j328GRogk8gaDEFnFVQvHe04u7q1UUnyFIw9CRH1yiYFXAmhxQ+BAgMBAAEC\\ngYAuwmrQuq46uNo6GaJ9cS+udf35c7UOBmolwj+yyleqRR7+lFemfultxiX8GjbH\\nlgcPLu/8t/wntXO+0DBsGg7SMwb0+n1b2HYJsP4c1ddsDAAzXE5/DDmdmjs9/Fvz\\ndqFZWdcoyGReFs1TVm+lKR24bCVberjYn8MppyrTehy3gQJBAPDpnv6nhR4Bn+FA\\nf9u5RxjqjHGwRrvaK6QaKnH4LPXaPHFNP1z/EfteCiSFx0rzSWpzUfO8DOpQ/Q2O\\njDEl890CQQCHdQcWp62GPjsplBZqlBNM06xadpNTLrfSYmkaUM5M1dRLHYrcijhf\\nE1oNG6xxaEs5BZZKycoV/yakm7XItRH1AkEAs5rIQTvs3zkA0/K9H7dajPXX7K4p\\nncUCQh6LxFnsUwH3i9S2R4OWCVvLnfzqXjNQaX89+sMYsdvdPK0oUT/lNQJAHGnU\\n4dCsWnNlT5Rrm1GSNtRT2+nxf0pWbsAL0eRPUdisnlEFFru7lV3mzscWRfedh8l/\\nPBLV3AVYYsDywbYRnQJBAMu3DR0cwHuWYAbecyEjl1YBV2cpSUFUzYJ3vjBEBF3e\\nXSJnMNyBJc0VBa4WHud6yQR7aZnIASDF0CKE/uXOhw8=\\n-----END RSA PRIVATE KEY-----"
PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\\nMIGeMA0GCSqGSIb3DQEBAQUAA4GMADCBiAKBgH95VEmp8hYOBipLyLNzvpG81M1U\\nPQP0q+AZnZKNBJBzRwD4/tZpS7MnJJIwwpig/0nsvOh8pO1cNrz/DgRfBP3/PWyY\\nMCuh+CW+qtHzXwIBWQH7c+aGkLP3j328GRogk8gaDEFnFVQvHe04u7q1UUnyFIw9\\nCRH1yiYFXAmhxQ+BAgMBAAE=\\n-----END PUBLIC KEY-----"

# Syntax: `key1=value1,key2=value2`
REDIRECT_URLS="portail=http://localhost:8000/api/v1/auth/login"
IDENTITY_WEBHOOK_URLS="portail=http://portail-des-eleves-backend-1:8000/api/v1/users/users/"
# WARNING : Change these keys on any deployed environment !
IDENTITY_API_KEYS="portail=BWsm9Aa25ij0Z41KCUF7Cx6K1aV6ICz8xuHqWh6oE98sDwrZrpIjWCI4Wuagr8iF"
