.App {
    text-align: center;
}

.MainContainer .content {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.LoginForm {
    padding: 10px;
}

.LoginForm .form-label {
    text-align: right;
}

@media (max-width: 768px) {
    .LoginForm .form-label {
        text-align: center;
    }
}
